body {
    font-family: sans-serif;
}

.sidebar-container {
    height: auto;
    width: 100%;
    background-color: rgb(49 49 49);
    color: white;
    white-space: nowrap;
    overflow:hidden;
    border-style: outset;
    border-color: black;
}

.sidebar {
    position: absolute;
    width: 300px;
    height: auto;
    z-index: 1000;
    margin-left: 20px;
    bottom: 25px;
    background-color:transparent;
}

#station-name {
    font-size: 3.6vh;
    height: 15%;
}

#station-location {
    font-size: 1.8vh;
    height: 7.5%;
}

.station-info {
    width: 100%;
    padding-left: 5px;
}

.register-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 300px;
    background-color: rgb(49 49 49);
    z-index: 1000;
    color: white;
    border-style: outset;
    border-color: black;
}

.form-item {
    padding: 10px;
}

.topbar {
    position: absolute;
    width: 100%;
    height: auto;
}

.topbar-item {
    display: inline-block;
    height: 100%;
    width: auto;
    padding: 10px;
}

.std-button {
    background-color: rgb(49 49 49);
    color: white;
}

.text-field {
    width: 75%;
    border-style: inset;
    border-color: white;
}

.exit-button {
    position: absolute;
    right: 10px;
}

.player-button {
    width: 33%;
    height: 100%;
    padding: 10px;
}